<form action="/admin/logout" method="POST">
	<input type="hidden" name="_method" value="delete">
	<button>LOG OUT HERE</button>
</form>
<a href="/admin/pics">manage pictures here</a>
<br>
<a href="/admin/posts">edit old posts here</a>
<br>
<h3>Create a post here:</h3>
<form action="/admin/post" method="post">
	<textarea name="title" placeholder="title, please" required></textarea>
	<textarea name="story" placeholder="story, please" required></textarea>
	<select name="section">
<option value="news">News</option>
<option value="shows">Shows</option>
<option value="press">Press</option>
<option value="videos">Video</option>
<option value="contact">Contact</option>
</select>
	<button>Submit</button>
</form>
<ul>
	<% pics.each do |pic| %>
	<li><img src="../../<%= pic.url %>" style="height: 200px; width: auto;">
		<p>http://www.sunshinenights.com/<%= pic.url %></p>
		<br>
	</li>
	<% end %>
</ul>