<form action="/admin/logout" method="POST">
	<input type="hidden" name="_method" value="delete">
	<button>LOG OUT HERE</button>
</form>
<a href="/admin/pics">manage pictures here</a>
<br>
<a href="/admin/posts">edit old posts here</a>
<br>
<h3>Create a post here:</h3>
<form action="/admin/post" method="post">
	<textarea name="title" placeholder="title, please" required></textarea>
	<textarea name="story" placeholder="story, please" required></textarea>
	<select name="section">
<option value="news">News</option>
<option value="shows">Shows</option>
<option value="press">Press</option>
<option value="videos">Videos</option>
<option value="contact">Contact</option>
</select>
If a show, please enter a date:
<input type="date" name="date"></input>
	<button>Submit</button>
</form>
<a href="pic_window" target="_blank">click here to see your pictures</a>
