<div id="shows_wrapper" class="hidden"></div>
<div id="press_wrapper" class="hidden"></div>
<div id="contact_wrapper" class="hidden"></div>
<div id="videos_wrapper" class="hidden"></div>
<div id="news_wrapper" class="hidden"></div>
<div id="carousel_wrapper" class="hidden">
  <input id="picscount" type="hidden" value=<%=pics%>>
  <div id="thumbs">

</div>
  <div id="page-nav"></div>
</div>
<script src="../scripts.js"></script>


<!-- Modal -->
