<!DOCTYPE html>
<html lang="en">
<head>
  <link href='http://fonts.googleapis.com/css?family=Niconne' rel='stylesheet' type='text/css'>
 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <!-- Optional theme -->

   <link rel="stylesheet" type="text/css" href="/styles.css">


  
  <meta charset="UTF-8">
  <title>Sunshine Music</title>
</head>
<body>
  <div class="container">
    <header>
      <div class="row">
        <!-- bandcamp player -->
        <div class="col-md-4">
          <iframe style="border: 0; width: 250px; height: 120px; border-radius: 3px;" src="https://bandcamp.com/EmbeddedPlayer/album=2745204665/size=large/bgcol=333333/linkcol=0f91ff/tracklist=false/artwork=small/transparent=true/" seamless><a href="http://sunshinenights.bandcamp.com/album/sunshine-nights">sunshine nights by Sunshine</a></iframe>
        </div>
        <!-- end bandcamp -->
        <div class="col-md-4 text-center">
          <h1>Sunshine</h1>
        </div>
        <!-- maybe small pic dump here -->
        <div id="follow_links" class="col-md-4 text-center">

          <a href="https://www.facebook.com/sunshinenights" target="_blank"><img src="../../facebook.jpg"></a>
          <a href="https://twitter.com/sunshinenights" target="_blank"><img src="../../twitter.jpg"></a>
          <a href="http://sunshinenights.bandcamp.com" target="_blank"><img src="https://s1.bcbits.com/img/buttons/bandcamp_60x60_white.png"></a>
          <a href="https://www.songkick.com/artists/8323538" target="_blank"><img src="../../songkick.jpg"></a>
        </div>
      </div>
      <div class="row">
        <ul id="nav">
          <li class="top_nav" id="news">news</li>
          <li class="top_nav" id="shows">shows</li>
          <li class="top_nav" id="pics">pics</li>
          <li class="top_nav" id="press">press</li>
          <li class="top_nav" id="videos">videos</li>
          <li class="top_nav" id="contact">contact</li>
        </ul>
      </div>
    </header>
    <div class="row">
      <aside class="col-md-2">
        <!-- upcoming shows -->
        <div id="songkick">
          <a href="http://www.songkick.com/artists/8323538" class="songkick-widget" data-theme="dark" data-track-button="on" data-detect-style="true" data-font-color="#000000" data-background-color="transparent">Sunshine tour dates</a>
          <script src="//widget.songkick.com/widget.js"></script>
        </div>
        <!-- email -->
        <div id="email_div">
          <p>Enter your email to get Sunshine news in your inbox here:</p>
          <form>
            <input id="email_input" type="text" name="email" placeholder = "Let's folk rock!">
            <button id="email_button">submit</button>
          </form>
        </div>
        <!-- email end -->
        <!-- facebook etc -->

      </aside>
      <div id="content" class="col-md-10">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>