.hidden {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
h3 {

}
body {
  font-family: 'Noto Serif', serif;
  background-color: black;
  color: white;
}

h1 {
  font-family: 'Tangerine', cursive;
  font-size: 120px;
  color: red;
}

#bandcamp {
  margin: 10px;
  border: 0; 
  width: 250px; 
  height: 120px; 
  border-radius: 5px;
}

/*#songkick {
  background-color: red;
  border-radius: 20px;
}*/

#nav {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 32px;
}

#nav li {
  margin: 5px;
  padding: 0 5px 5px 5px;
  display: inline;
  list-style: none;
}

.top_nav:hover {
  background-color: red;
  border-radius: 5px;
}

#email_div {
  margin: 30px 0 10px 5px;

}


#follow_links {
  margin-top: 10px;
  margin-bottom: 10px;
}

#follow_links img {
  border-radius: 3px;
  width: 30px;
  height: auto;
  margin-left: 5px;
}

.thumb {
  width: 100px;
  height: auto;
}

#content {
  font-size: 20px;
/*    border: 5px #333333 solid;*/
  background-color: white;
  border-radius: 20px;
  color: black;
}

#content h3 {

  display: block;
  font-size: 36px;
  border-bottom: 1px red solid;
  margin: 40px auto 8px auto;
  padding: 5px;
}

#content p {
  padding: 5px;
}

#pic_wrapper {
  border-radius: 5px;
  height: 100%;
}



