<img src="../../<%= pic.url %>">
<p>check this box and click delete to delete this picture</p>
<form action="<%= pic.id %>" method="post">
	<input type="hidden" name="_method" value="delete">
<button>DELETE</button>
</form>