<h1>Is this shizzle for rizzle?</h1>
<h3><%= post_hash[:title] %></h3>
</br>
<p><%= post_hash[:story] %></p>

</br>
<form action="/confirm" method="POST">
  <input type="hidden" name="title" value="<%= post_hash[:title] %>">
  <input type="hidden" name="story" value="<%= post_hash[:story] %>">
  <button>Drop it like it's hot</button>
</form>
</br>
<div id="doc_form">
  <form action="/docs" method="POST">
  	<p>Title</p>
    <textarea type="text" name="title" placeholder="Name it something dope" required></textarea>
  </br>
  <p>Story</p>
  <textarea type="text" name="story" placeholder="Spit it" required></textarea>
	</br>	
  <p>YO URLs are seperated by a comma and a space, homey, and check the box if this tag is for this shiz only.</p>
  <textarea type="text" name="article pictures" placeholder="TAG IT"></textarea>
  <input type="checkbox" name="article_only"></input>
	<button>(MIC DROP)</button>
  </form>
</div>
</div>
