<h1>Here be yer post makin', yarrrrr</h1>
<div id="doc_form">
  <form action="/docs" method="POST">
  	<p>Title</p>
    <textarea type="text" name="title" placeholder="Yer title be here" required></textarea>
  </br>
  <p>Story</p>
  <textarea type="text" name="story" placeholder="Tell me yer tale here, landlubber" required></textarea>
	</br>	
  <p>Keep yer picture URLs seperated by a comma and a space, matey, and check the box if yer map is for this tale only.</p>
  <textarea type="text" name="pictures" placeholder="Show me yer treasure map"></textarea>
  <input type="checkbox" name="article_only"></input>
	<button>Walk the plank!</button>
  </form>
</div>

<h1>Just the booty?</h1>

<div id="pic_submit_form">
	<form action="/pics" method="POST">
		<p>Keep yer picture URLs seperated by a comma and a space, matey.</p>
		<textarea type="text" name="pictures" placeholder="I can still see with me good eye"></textarea>
			<button>Show me yer dubloons!</button>
	</form>
</div>
